nav
    ul.menu
        li.logo
            a(href="index.html") GoGrantMe.com
        
        li.item
            a(href="about.html") About
        
        li.item
            a(href="#") Contact

        li.item(class="button")
            a(href="login.html") Log In/Register

        li.item(class="button secondary")
            a(href="grants.html") All Grants

        li.toggle
            a(href="#")
                i(class="fas fa-bars")
