nav
    ul.menu
        li.logo
            a(href="index.html") GoGrantMe
        li.item
            a(href="#") About
        li.item
            a(href="#") Blog
        li.item
            a(href="#") Contact

        li.item(class="button")
            a(href="#") Log In
        li.item(class="button secondary")
            a(href="post.html") Submit Grant
        li.toggle
            a(href="#")
                i(class="fas fa-bars")
