nav
    ul.menu
        li.logo
            a(href="#") GoGrantMe.com
        li.item
            a(href="#") Home
        li.item
            a(href="#") About
        li.item(class="has-submenu")
            a(tabindex="0") Services
            ul.submenu
                li.subitem
                    a(href="#") Design
                li.subitem
                    a(href="#") Development
                li.subitem
                    a(href="#") SEO
                li.subitem
                    a(href="#") Copywriting
        li.item(class="has-submenu")
            a(tabindex="0") Plans
            ul.submenu
                li.subitem
                    a(href="#") Freelancer
                li.subitem
                    a(href="#") Startup
                li.subitem
                    a(href="#") Enterprise
        li.item
            a(href="#") Blog
        li.item
            a(href="#") Contact

        li.item(class="button")
            a(href="#") Log In
        li.item(class="button secondary")
            a(href="#") Sign Up
        li.toggle
            a(href="#")
                i(class="fas fa-bars")
