<!DOCTYPE html>
html(lang="en")
    head
        include components/meta.pug
        meta(property="og:title", content="GoGrantMe")
        meta(property="og:description", content="Easily search and apply for journalism grants all over the world.")
        meta(property="og:url", content="https://gograntme.com")
        meta(property="og:image", content="#")
        meta(name="keywords", content="Journalism, Grants, Grant, Apply")
        include components/general-meta-links.pug
        link(rel="stylesheet", href="styles/login.css")
        title GoGrantMe: Login
    body
        .wrapper
            include components/nav.pug
            .content
                .login-form
                    form#login
                        fieldset
                            legend.title
                                h1 Login

                            label(for="email") Email
                            input.input(type="email", id="email", name="email" required)
                            label(for="password") Password
                            input.input(type="password", id="password", name="password" required)
                            button.login(type="submit" form="login") 
                                a(href="post.html") Login
                div.redirect
                    p If you don't have an account, 
                        a(href="register.html") register now.

        include components/footer.pug
        include components/firebase-scripts.pug
        script(src="scripts/nav.js")
